/* Variables */

$--font-family-1: "Josefin Sans", sans-serif;
$--font-family-2: "Open Sans", sans-serif;

$--color-1: #fff;
$--color-2: #000;
$--color-3: #15111e;
$--color-4: #7d7789;
$--color-5: #3c3c3c;
$--color-6: #aaa6b2;
$--color-7: #f4f5fe;

// $--primary-colors1: #4169e1;
// $--primary-colors2: #66b95c;
// $--primary-colors3: #ff9800;
// $--primary-colors4: #ff5e94;
// $--primary-colors5: #fa5b0f;
// $--primary-colors6: #000;
// $--primary-colors7: #9200ee;
// $--primary-colors8: #00d4bd;
// $--primary-colors10: #5e9e9f;
// $--primary-colors9: #ea4343;
// $--primary-colors11: #666d41;
// $--primary-colors12: #fe0000;

$--border-redius-1: 6px;
$--border-redius-2: 10px;
$--border-redius-3: 50%;

:root {
  --primary-colors: #5e9e9f;
}
