.projects {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 125px;
  padding-bottom: 105px;
  background: var(--primary-colors);

  &__list {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
  }
  &__item {
    width: auto;
    display: flex;
  }
  &__item-number {
    position: relative;
    font-family: $--font-family-1;
    font-size: 72px;
    color: $--color-7;
    font-weight: 700;

    span {
      position: absolute;
      top: 5px;
      right: -20px;
      font-size: 35px;
    }
  }
  &__item-title {
    font-size: 30px;
    font-weight: 600;
    color: #f4f5fe;
    line-height: 1.4;
    letter-spacing: -0.2px;
    font-family: $--font-family-1;
    padding-left: 40px;
  }
  &__anim-elements {
    position: absolute;
    top: -83px;
    right: 0px;
    left: 100%;
    margin-left: -160px;
    width: 160px;
    height: 520px;
    border: 6px solid #fff;
  }
}

//----------------- MEDIA PART ------------------

@media screen and (max-width: 1040px) {
  .projects {
    &__anim-elements {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .projects {
    &__list {
      flex-direction: column;
      justify-content: center;
    }
    &__item-number {
      font-size: 50px;
      span {
        font-size: 25px;
      }
    }
    &__item-title {
      font-size: 20px;
    }
  }
}
